@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Grupo #4</h1>
        <p class="lead">Práctica programada #4, manejo de GET y POST con API interna.</p>
        <p><a href="https://github.com/LeandroC0/Practica4Programada" class="btn btn-primary btn-md">&rArr; Repositorio &lArr;</a></p>
    </section>
</main>